<div style="display: flex; align-items: center;justify-content: center;">
    <mat-card class="reset-password-form-card">
        <mat-card-content>
            <h2>{{"Reset Password" | translate}}</h2>
            <form class="reset-password-form" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit(resetPasswordForm)">
                <label>{{"Enter a new password:" | translate}}</label>
                <mat-error *ngIf="resetPasswordForm.hasError('UNAUTHORIZED')">{{"The link has already expired! Please, create a new account." | translate}}</mat-error>
                <div>
                    <mat-form-field class="input">
                        <mat-label>{{"Enter your password" | translate}}</mat-label>
                        <input style="color:white" name="password" formControlName="password" matInput [type]="'password'" required
                            maxlength="100">
                        <mat-error *ngIf="resetPasswordForm.controls['password'].hasError('required')">{{"Password is required." | translate}}</mat-error>
                        <mat-error subscriptSizing="dynamic" style="margin-bottom: 40px;"
                            *ngIf="resetPasswordForm.controls['password'].hasError('pattern')">{{"Your password must contain at least 8 characters." | translate}}</mat-error>
                    </mat-form-field>
                </div>

                <button id="reset-password-button" [disabled]="resetPasswordForm.invalid" type="submit">{{"Submit" | translate}}</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>