.search-bar-input-wide-screen {
    padding: 10px 10%;
    background-color:  #89a5e8;
    border-color: transparent;
    border-right: 2px solid #fff;
    font-family: 'Baloo 2', cursive;
    font-size: 20px;
    color: white;
}

.input {
    width: 250px;
    display: flex;
    align-items: center;
    border-radius: 100px;
    margin-bottom: 10px;
    /* background-color: #89a5e8; */
}

input::placeholder{
    color:var(--placeholder-color);
}

label {
    font-family: 'Baloo 2', cursive;
    font-weight: 800;
    font-size: 20px;
    color: white;
    display: flex;
    align-items: flex-start;
}

.additional-doctor-settings-input {
    width: 80%;
    display: flex;
    align-items: center;
}

.search-bar-input-wide-screen-homepage {
    padding: 10px 10%;
    background-color: #6a89d1;
    border-color: transparent;
    border-right: 2px solid #fff;
    font-family: 'Baloo 2', cursive;
    font-size: 20px;
    color: white;
}