<div style="display: flex; align-items: center;justify-content: center;">
    <mat-card class="reset-password-form-card">
        <mat-card-content>
            <h2>{{"Reset Password" | translate}}</h2>
            <form class="reset-password-form" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit(resetPasswordForm)">
                <label>{{"Enter your e-mail:" | translate}}</label>
                <mat-error *ngIf="resetPasswordForm.hasError('INTERNAL_SERVER_ERROR')">{{"The link has already expired! Please, create a new account." | translate}}</mat-error>
                <mat-error *ngIf="resetPasswordForm.hasError('NOT_FOUND')">{{"Your e-mail is not correct." | translate}}</mat-error>
                <mat-error *ngIf="resetPasswordForm.hasError('FORBIDDEN')">{{"Your account is still not enabled! Please, check your e-mail." | translate}}</mat-error>
                <div>
                    <mat-form-field class="input">
                        <mat-label>{{"Enter your email"| translate}}</mat-label>
                        <input style="color:white" name="emailAddress" formControlName="emailAddress" matInput
                            [type]="'email'" required maxlength="100">
                        <mat-error *ngIf="resetPasswordForm.controls['emailAddress'].hasError('required')">{{"E-mail is required." | translate}}</mat-error>
                        <mat-error *ngIf="resetPasswordForm.controls['emailAddress'].hasError('email')">{{"Please, enter a valid e-mail." | translate}}</mat-error>
                    </mat-form-field>
                    <p style="padding-right: 50px; color:white"><mat-icon
                            style="padding-right:5px;">error</mat-icon>{{"Once you click the 'Send email' button, you will receive an email with specific information." | translate}} <br> {{"Please, ensure to check your inbox for it!" | translate}}</p>
                </div>
                <button id="reset-password-button" [disabled]="resetPasswordForm.invalid" type="submit">{{"Send email" | translate}}</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>